body,
header a {
  font-family: "DM Sans", Verdana, Geneva, Tahoma, sans-serif;
  background-color: #f0d8d8;
  text-decoration: none;
  color: black;
}

h1,
h2 {
  font-family: "Playfair Display", serif, Verdana, Geneva, Tahoma;
}

li {
  list-style: none;
}

nav {
  display: none;
}

#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: flex;
}

.fa-bars {
  font-size: 2em;
  padding: 10px;
}

nav ul {
  display: inline-flex;
}

nav li {
  padding-left: 10px;
  font-size: 1.4em;
}

/* Home page */

span {
  font-size: 3em;
  font-weight: 700;
}

.welcome {
  text-align: center;
}

.card {
  box-shadow: 0 5px 10px 1px #a7a7a7;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 25px black;
  text-align: center;
}

.card-text {
}

.card img {
  max-width: 500px;
}

@media (min-width: 900px) {
  /* Home page */

  header label {
    display: none;
  }

  nav {
    display: flex;
    position: static;
  }
}
